@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities



html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.centered-container {
  display: flex;
  flex-direction: column; /* stack children vertically */
  justify-content: center; /* vertical centering */
  align-items: center;     /* horizontal centering */
  min-height: 100%;        /* fill viewport */
  padding: 1rem;           /* spacing on small screens */
}